# Analisando preços da gasolina Brasil
## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 
---

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [1]:
import pandas as pd

In [7]:
df1 = pd.read_csv('../datasets/gasolina_2000+.csv', index_col=0)
df2 = pd.read_csv('../datasets/gasolina_2010+.csv', index_col=0)

/tmp/ipykernel_369447/2250696070.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('datasets/gasolina_2010+.csv', index_col=0)

In [8]:
df = pd.concat([df1,df2])
df.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

### 2.Investigue as colunas e entenda o conjunto de dados usando o `head()` e `info()`

In [9]:
df.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 18.4+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [10]:
df['DATA INICIAL'][2]

'2004-05-09'

In [11]:
type(df['DATA INICIAL'][2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como `String`.  Utilizando o método `pd.to_datetime()`, converta ambas colunas para Timestamp / Datetime.

In [12]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 21.5+ MB

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [15]:
df['ANO-MES'] = pd.to_datetime(df['DATA FINAL']).dt.strftime('%Y-%m')

In [16]:
df['ANO-MES']

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Utilizando o `value_counts()` liste todos os tipos de produtos contidos na base de dados.

In [17]:
df['PRODUTO'].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [20]:
q = df[df['PRODUTO'] == 'GASOLINA COMUM']
q

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [25]:
q[q["ANO-MES"]=='2008-08']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [31]:
q[(q["ANO-MES"]=='2014-05') & (q['ESTADO']=='SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [33]:
q[q['PREÇO MÁXIMO REVENDA']>5][['ESTADO','ANO-MES','PREÇO MÉDIO REVENDA']].head()

      ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
92471   ACRE  2017-09                4.373
92771   ACRE  2017-09                4.496
93072   ACRE  2017-09                4.516
93371   ACRE  2017-10                4.521
93671   ACRE  2017-10                4.524

### 11. Qual a média de preço dos estados da região sul em 2012?

In [45]:
q[(q['DATA FINAL'].dt.year == 2012) & (q['REGIÃO']=='SUL')]['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [82]:
rio=q[(q['DATA FINAL'].dt.month == 12) & (q['ESTADO']=='RIO DE JANEIRO')]
rio.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12869,2004-11-28,2004-12-04,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1061,R$/l,2.286,0.103,2.030,2.749,0.24,0.045,2.046,0.049,1.8999,2.3279,0.024,2004-12
12896,2004-12-05,2004-12-11,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.291,0.098,1.999,2.749,0.224,0.043,2.067,0.042,1.8999,2.2889,0.02,2004-12
12923,2004-12-12,2004-12-18,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1068,R$/l,2.286,0.098,2.039,2.749,0.219,0.043,2.067,0.039,1.8999,2.3079,0.019,2004-12

In [80]:
rio_perc = rio.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].last().pct_change()*100
rio_perc

ANO-MES
2004-12          NaN
2005-12     9.233449
2006-12     0.917065
2007-12     0.355591
2008-12     0.984252
2009-12     1.637427
2010-12     2.032988
2011-12     7.105263
2012-12     0.982801
2013-12     6.777894
2014-12     4.361979
2015-12    20.461634
2016-12     3.625065
2017-12    13.643178
2018-12     5.804749
2019-12     3.802993
2020-12    -1.321321
Name: PREÇO MÉDIO REVENDA, dtype: float64

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [86]:
q.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.07,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.22,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.54,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05

In [90]:
q_max = q.groupby('ANO-MES').max()['PREÇO MÉDIO REVENDA'].sort_index()
q_min = q.groupby('ANO-MES').min()['PREÇO MÉDIO REVENDA'].sort_index()

q_idx_max = q.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmax()
q_idx_min = q.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmin()

df_final = pd.DataFrame()

In [93]:
df_final['DIFERENÇA'] = q_max - q_min
df_final['PERCENTUAL'] = (q_max - q_min)/q_min *100
df_final['MAXIMO'] = q_max
df_final['MÍNIMO'] = q_min

In [95]:
df_final

         DIFERENÇA ABSOLUTA  DIFEREÇA PERCENTUAL  MAXIMO  MÍNIMO
ANO-MES
2004-05               0.550            29.131356   2.438   1.888
2004-06               0.584            30.543933   2.496   1.912
2004-07               0.609            31.456612   2.545   1.936
2004-08               0.530            26.108374   2.560   2.030
2004-09               0.539            26.538651   2.570   2.031
...                     ...                  ...     ...     ...
2021-01               1.383            36.109661   5.213   3.830
2021-02               1.688            40.960932   5.809   4.121
2021-03               2.109            46.058091   6.688   4.579
2021-04               1.450            30.353779   6.227   4.777
2021-05               1.391            28.580234   6.258   4.867

[204 rows x 4 columns]

In [96]:
df_final['ESTADO MAXIMO'] = q.loc[q_idx_max, :]['ESTADO'].values
df_final['ESTADO MINIMO'] = q.loc[q_idx_min, :]['ESTADO'].values

In [97]:
df_final

,DIFERENÇA ABSOLUTA,DIFEREÇA PERCENTUAL,MAXIMO,MÍNIMO,ESTADO MAXIMO,ESTADO MINIMO
ANO-MES,,,,,,
2004-05,0.550,29.131356,2.438,1.888,ACRE,SAO PAULO
2004-06,0.584,30.543933,2.496,1.912,MATO GROSSO,SAO PAULO
2004-07,0.609,31.456612,2.545,1.936,ACRE,DISTRITO FEDERAL
2004-08,0.530,26.108374,2.560,2.030,MATO GROSSO,SAO PAULO
2004-09,0.539,26.538651,2.570,2.031,ACRE,SAO PAULO
...,...,...,...,...,...,...
2021-01,1.383,36.109661,5.213,3.830,ACRE,AMAPA
2021-02,1.688,40.960932,5.809,4.121,ACRE,AMAPA
2021-03,2.109,46.058091,6.688,4.579,ACRE,AMAPA
2021-04,1.450,30.353779,6.227,4.777,ACRE,AMAPA
2021-05,1.391,28.580234,6.258,4.867,ACRE,AMAPA